*.DS_store
*.asv
shelf_design/safety_sweep*

planned_paths/*/*.csv
planned_paths/panel_06B/*.mat
planned_paths/safety_sweep/temp/*.mat

temp/*
*/temp/*
*/*/temp/*
*/*/*/temp/*
*/*/*/*/temp/s

archive/collision*
archive/kinematics*